ul {
    list-style-type: circle;
   /* list-style-image: url('https://www.)*/
}
ol {
    /*list-style-type: none;
    margin: 0;
    padding: 0;*/
    /*list-style-type: lower-roman*/
    /*list-style-position: outside*/
}